[submodule "third_party/msgpack-c"]
	path = third_party/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "third_party/proto"]
	path = third_party/proto
	url = https://github.com/AzureApp/proto
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc
	branch = v1.19.x
