[submodule "third_party/msgpack-c"]
	path = third_party/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "third_party/proto"]
	path = third_party/proto
	url = https://github.com/AzureApp/proto
